@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.work {
  @include page();

  &__title {
    @include titleText(black);
  }

  &__swash {
    @include swash(black);
  }

  &__body {
    @include bodyText(black);
  }

  &__backButton {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 15px;
    scroll-margin-top: 2rem;
    @include bodyFade();

    @media screen and (max-width: $breakpoint-desktop) {
      scroll-margin-top: 8rem;
    }
  }

  &__backText {
    @include bodyText(black);
    @include underline();
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }

  &__hidden {
    visibility: hidden;
  }

  &__projects {
    @include bodyFade();
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    max-height: max-content;
    gap: 1rem;

    @media screen and (max-width: $breakpoint-desktop) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
      max-height: max-content;
    }
  }

  &__projectFocused {
    @include bodyFade();
    width: 100%;
    position: relative;
  }
}
