@import "../../../styles/_variables.scss";
@import "../../../styles/_mixins.scss";
@import "../../../styles/_keyframes.scss";

.projectPreview {
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &__imageContainer {
    width: 100%;
    filter: brightness(50%);
    transition: transform 3s ease;

    &:hover {
      transform: scale(1.1);
      filter: brightness(100%);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    max-height: 30rem;
    display: block;
    object-fit: cover;
  }
}
