@import "../../styles/_variables";

.section {
  width: 60px;
  min-width: 60px;
  min-height: 100dvh;
  transition: width 0.2s linear;
  transform-origin: left;

  @media screen and (max-width: $breakpoint-desktop) {
    display: none;
  }

  &__expanded {
    width: 100%;
  }

  &__link {
    @media screen and (max-width: $breakpoint-desktop) {
      display: none;
    }
  }

  &__home {
    background-color: $color-home;
  }

  &__about {
    background-color: $color-about;
  }

  &__work {
    background-color: $color-work;
  }

  &__contact {
    background-color: $color-contact;
  }
}
