@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";
@import "../../styles/_keyframes.scss";

.home {
  @include page();

  &__title {
    @include titleText(black);
  }

  &__swash {
    @include swash(black);
  }

  &__body {
    @include bodyText(black);
    @include bodyFade();
  }

  &__image {
    @media screen and (max-width: $breakpoint-desktop) {
      width: 100%;
      max-width: 100vw;
      height: auto;
    }
  }

  &__getintouch {
    position: relative;
    color: black;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      right: 100%;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 8px;
      background-image: url("../../public/assets/underline.svg");
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      transition: all 0.3s;
    }

    &:hover {
      color: $color-work;
    }
  }
}
