@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";
@import "../../styles/_keyframes.scss";

.home {
  @include page();

  &__title {
    @include titleText(black);
  }

  &__swash {
    @include swash(black);
  }

  &__bodyContainer {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $breakpoint-desktop) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__body {
    @include bodyText(black);
    @include bodyFade();
  }

  &__imageContainer {
    position: relative;
    width: 100%;

    @media screen and (min-width: $breakpoint-tablet) {
      width: 20rem;

      &:after {
        @include bodyFade();
        content: "";
        background: transparent;
        border: 1px solid black;
        top: 12px;
        right: -10px;
        bottom: -7px;
        left: 10px;
        position: absolute;
        z-index: -1;
      }
    }
  }

  &__image {
    @include bodyFade();
    width: 100%;
    height: auto;

    @media screen and (max-width: $breakpoint-tablet) {
      width: 100%;
      max-width: 100vw;
      height: auto;
    }
  }

  &__getintouch {
    position: relative;
    color: black;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      right: 100%;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 8px;
      background-image: url("../../public/assets/underline.svg");
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      transition: all 0.3s;
    }

    &:hover {
      color: $color-work;
    }
  }
}
