@import "./_variables.scss";
@import "./_keyframes.scss";

@mixin page() {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: $page-padding;
  opacity: 0;
  visibility: hidden;
  animation: pageFadeIn 0.5s ease forwards;
  animation-delay: 0.5s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: $breakpoint-desktop) {
    padding: $page-padding-mobile;
  }
}

@mixin titleText($color) {
  font-family: $title-font;
  font-size: $title-font-size-desktop;
  color: $color;
  font-weight: 300;
  gap: 40px;
  align-items: center;
  display: flex;

  @media screen and (max-width: $breakpoint-desktop) {
    font-size: $title-font-size-mobile;
    gap: 20px;
  }
}

@mixin bodyText($color) {
  font-family: $body-font;
  font-size: $body-font-size;
  color: $color;

  @media screen and (max-width: $breakpoint-desktop) {
    line-height: 2;
  }
}

@mixin navText($font-size) {
  font-family: $nav-font;
  font-size: $font-size;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

@mixin swash($color) {
  font-family: $swash-font;
  font-size: $swash-font-size-desktop;
  color: $color;

  @media screen and (max-width: 768px) {
    font-size: $swash-font-size-mobile;
  }
}

@mixin bodyFade() {
  opacity: 0;
  transform: translateY(100%);
  animation: slideInFromBottom 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
