$color-home: #eeeeee;
$color-about: #87b38d;
$color-work: #e63946;
$color-contact: #457b9d;

$nav-font: "RenoMono", monospace;
$title-font: "Ogg", serif;
$body-font: "RenoMono", serif;
$collapsed-number-font: "Hazard!", cursive;
$swash-font: "Hazard! Swash", cursive;

$title-font-size: 8rem;
$swash-font-size: 3rem;
$subtitle-font-size: 1.2rem;
$collapsed-font-size: 0.8rem;
$body-font-size: 1rem;

$page-padding: 3rem 5rem;
