$color-about: #FFCC70;
$color-work: #FFFADD;
$color-contact: #8ECDDD;

$color-about: #F9DC5C;
$color-work: #BFD7EA;
$color-contact: #FF6663;

$title-font: 'Rokurou', cursive;

$title-font-size: 2rem;
$subtitle-font-size: 1.5rem;
$body-font-size: 1.2rem;
